<!DOCTYPE html>
<html lang="en">
<head>
  <title>Faculty of Technology</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>
    .navbar {
      overflow: hidden;
      background-color: #333333;
      position: fixed;
      top: 0;
      width: 100%;
    }

    .navbar li {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
    }

    .navbar li:hover {
        background: #aaaaaa;
        color: black;
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #00ffea4d;
    }
    
    * {
      box-sizing: border-box;
    }
    
    /* Add padding to containers */
    .container {
      padding: 16px;
      width: 50%;
      background-color: #4249c263;
    }
    
    /* Full-width input fields */
    input[type=text], input[type=password], input[type=date], input[type=tel], textarea {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }

    .top_margin {
        margin-top: 80px;
    }
    
    input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    
    /* Overwrite default styles of hr */
    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }
    
    /* Set a style for the submit button */
    .registerbtn {
      background-color: #04AA6D;
      color: white;
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
    
    .registerbtn:hover {
      opacity: 1;
    }
    
    /* Add a blue text color to links */
    a {
      color: blue;
    }
    
  </style>

</head>

<body>
<!--Navigation bar-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--<a class="navbar-brand" href="#">FOTS</a>-->
        </div>
        <ul class="nav navbar-nav">
          <li><a href="home">Home</a></li>
          <li><a href="login">Login</a></li>
          <li><a href="registration">Registration</a></li>
          <li class="active"><a href="administrator">Administrator</a></li>
        </ul>
    </div>
</nav>
<!--end of Navigation bar-->

<div id="reg_div">

    <form action="/reg"; class="top_margin" method="post">
        <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>

        <hr>

        <label for="nicNum"><b>NIC Number</b></label>
        <input type="text" placeholder="Enter NIC Number" name="nicNum" id="nicNum" required>
    
        <label for="firstName"><b>First name</b></label>
        <input type="text" placeholder="Enter First name" name="firstName" id="firstName" required>

        <label for="lastName"><b>Last name</b></label>
        <input type="text" placeholder="Enter Last name" name="lastName" id="lastName" required>
        
        <label for="dob"><b>Gender</b></label><br>
        <input type="radio" id="genderM" name="gender" value="male" required>
        <label for="genderM" style="font-weight: lighter; margin-right: 10px;">Male</label>
        <input type="radio" id="genderF" name="gender" value="female">
        <label for="genderF" style="font-weight: lighter;">Female</label><br><br>

        <label for="address"><b>Address</b></label>
        <input type="text" placeholder="Enter Address" name="address" id="address" required>

        <label for="dob"><b>Date of Birth</b></label>
        <input type="date" placeholder="Enter Date of Birth" name="dob" id="dob" required>
    
        <label for="contactNum"><b>Contact Number</b></label>
        <input type="tel" placeholder="Enter Contact Number" name="contactNum" id="contactNum" required>

        <hr>
    
        <label for="regNum"><b>Registration Number</b></label>
        <input type="text" placeholder="Enter Registration Number" name="regNum" id="regNum" required>

        <label for="regDate"><b>Registation Date</b></label>
        <input type="date" placeholder="Enter Registation Date" name="regDate" id="regDate" required>
        
        <label for="semester"><b>Semester</b></label>
        <input type="text" placeholder="Enter Semester" name="semester" id="semester" required>

        <label for="department"><b>Department</b></label>
        <input type="text" placeholder="Enter Department" name="department" list="department" required>
        <datalist id="department">
            <option value="ET">
            <option value="BST">
            <option value="ICT">
        </datalist>

        <label for="courses"><b>Courses</b></label>
        <textarea id="courses" name="courses" placeholder="Enter Courses" required></textarea>

        <hr>

        <label for="username"><b>User Name</b></label>
        <input type="text" placeholder="Enter User Name" name="username" id="username" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
    
        

        <hr>
        
        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    
        <button type="submit" class="registerbtn">Register</button>
        </div>
        
        <div class="container login">
            <p>Already have an account? <a href="login">Log in</a>.</p>
        </div>
    </form>

</div>

</body>
</html>